TimerRestful/Timer.Restful/Timer.Restful/Service References/TimerService/TimerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://timeregisterservice.azurewebsites.net/TimerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" />
  <xs:complexType name="ArrayOfUserDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataMember" nillable="true" type="tns:UserDataMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataMember" nillable="true" type="tns:ArrayOfUserDataMember" />
  <xs:complexType name="UserDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Department" nillable="true" type="q1:Department" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Projects" nillable="true" type="q2:ArrayOfProject" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Times" nillable="true" type="q3:ArrayOfTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataMember" nillable="true" type="tns:UserDataMember" />
  <xs:complexType name="ArrayOfTimeDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeDataMember" nillable="true" type="tns:TimeDataMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeDataMember" nillable="true" type="tns:ArrayOfTimeDataMember" />
  <xs:complexType name="TimeDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="Break" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Projects" nillable="true" type="q4:ArrayOfProject" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Users" nillable="true" type="q5:ArrayOfUser" />
      <xs:element minOccurs="0" name="WorkDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeDataMember" nillable="true" type="tns:TimeDataMember" />
  <xs:complexType name="ArrayOfProjectDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDataMember" nillable="true" type="tns:ProjectDataMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDataMember" nillable="true" type="tns:ArrayOfProjectDataMember" />
  <xs:complexType name="ProjectDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Times" nillable="true" type="q6:ArrayOfTime" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Users" nillable="true" type="q7:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDataMember" nillable="true" type="tns:ProjectDataMember" />
  <xs:complexType name="ArrayOfDepartmentDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDataMember" nillable="true" type="tns:DepartmentDataMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDataMember" nillable="true" type="tns:ArrayOfDepartmentDataMember" />
  <xs:complexType name="DepartmentDataMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.TimerContext.Models" minOccurs="0" name="Users" nillable="true" type="q8:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDataMember" nillable="true" type="tns:DepartmentDataMember" />
</xs:schema>