TimerRestful/Timer.Restful/SCBDK.Internal.Timer.Restful/Service References/TimerService/TimerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://timeregisterservice.azurewebsites.net/TimerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" />
  <xs:element name="GetAsyncUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncUsersResult" nillable="true" type="q1:ArrayOfUserDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncUserResult" nillable="true" type="q2:UserDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="user" nillable="true" type="q3:UserDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAsyncUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="user" nillable="true" type="q4:UserDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAsyncUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAsyncUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncTimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncTimesResult" nillable="true" type="q5:ArrayOfTimeDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncTimeResult" nillable="true" type="q6:TimeDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="time" nillable="true" type="q7:TimeDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAsyncTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="time" nillable="true" type="q8:TimeDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAsyncTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAsyncTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncProjectsResult" nillable="true" type="q9:ArrayOfProjectDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncProjectResult" nillable="true" type="q10:ProjectDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="project" nillable="true" type="q11:ProjectDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAsyncProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="project" nillable="true" type="q12:ProjectDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAsyncProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAsyncProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncDepartmentsResult" nillable="true" type="q13:ArrayOfDepartmentDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="GetAsyncDepartmentResult" nillable="true" type="q14:DepartmentDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="department" nillable="true" type="q15:DepartmentDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAsyncDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAsyncDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="department" nillable="true" type="q16:DepartmentDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsyncDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAsyncDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsyncDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAsyncDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTimeForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTimeForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SCBDK.Internal.Timer.Wcf.DataMembers" minOccurs="0" name="RetrieveTimeForUserResult" nillable="true" type="q17:ArrayOfTimeDataMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>